/* Mobile first princip */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #ffffff;
    height: auto;
}

header {
    display: block;
    text-align: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* h1 styling */
h1 {
    font-family: 'Passion One', cursive;
    font-size: 30px;
    color: #232323;
    padding-top: 100px;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
}


.hannaintro {
    justify-content: center;
}


/* navigation styling */
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 35px;

}

ul li {
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: #b9b9b9;
    font-size: 20px;
}


/* styling af billeder */
.container {
    max-width: 1125px;
    margin: 0 auto;
    min-height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* skoleprojekter, side: Projects */
.projekter {
    width: 330px;
    height: 265px;
    margin: -25px;
}

/* CSS opacity hover inspiration taget fra W3schools: https://www.w3schools.com/css/css_image_transparency.asp */
.projekter img {
    position: absolute;
    object-fit: contain;
}

.projekter:hover {
    opacity: 0.8;
}

/* personlige projekter, side: Home */
.andet {
    width: 330px;
    height: 300px;
}

.andet img {
    object-fit: contain;
    position: absolute;
    padding: 20px;
}

/* styling af footer */ 
footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 7%;
}

footer p { 
    display: flex;
    justify-content: center;
    color: #000000;
}

/* 600px og større */
@media (min-width: 600px) {
    body {
        background-color: #f9f9f9;
    }
    
.projekter {
    margin: 10px;
    padding: 30px;

}
    
.andet {
display: flex;
flex-direction: row;
height: 265px;
margin: 5px;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.andet img {
    width: 330px;
    height: 265px;
    object-fit: contain;
}

footer {
    background-color: rgb(255, 255, 255);
    padding: 2%;

}

}