/* Mobile first princip */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    height: auto;
}

header {
    display: block;
    text-align: center;
    width: 100%;
}

/* h1 styling */
h1 {
    font-size: 30px;
    color: #232323;
    padding-top: 100px;
    text-transform: uppercase;
    margin: 0;
}

a {
    text-decoration: none;
}

a :hover {
    color: #ffff;
}


/* navigation styling */
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 35px;

}

ul li {
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: #b9b9b9;
    font-size: 20px;
}

nav :hover {
    color: #ffff;
}

/* styling af billeder */
.container {
    max-width: 1125px;
    margin: 0 auto;
    min-height: 100vh;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* skoleprojekter, side: Projects */
.projekter {
    width: 330px;
    height: 265px;
    margin: -25px;
}

/* CSS opacity hover inspiration taget fra W3schools: https://www.w3schools.com/css/css_image_transparency.asp */
.projekter img {
    position: absolute;
    object-fit: contain;
}

.projekter:hover {
    opacity: 0.8;
}

/* personlige projekter, side: Home */
.andet {
    width: 330px;
    height: 265px;
    margin: -25px;
}

.andet img {
    object-fit: contain;
    position: absolute;
}

/* styling af footer */ 
footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 7%;
}

footer p { 
    display: flex;
    justify-content: center;
    color: #000000;
}

/* 600px og større */
@media (min-width: 600px) {
    body {
        background-color: #f9f9f9;
    }
img {
width: 300px;
height: 400px;
object-fit: scale-down;
margin: 10px 10px 10px 10px;
}
    
.projekter {
display: flex;
flex-direction: row;
width: 330px;
height: 265px;
margin: 5px;
}
    
.andet {
display: flex;
flex-direction: row;
width: 330px;
height: 265px;
margin: 5px;
}
    
.gallery img {
object-fit: contain;
}