/* Mobile first princip */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9; 
    height: auto;
}

header {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}

.logo {
    size: 16rem;
    object-fit: contain;
}

/* h1 styling */
h1 {
    font-size: 27px;
    color: #232323;
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}


h2 {
    font-size: 27px;
    color: #232323;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
    width: 100%;
    margin: 15px;
}

p {
    width: 100%;
    margin: 15px;
}



/* navigation styling */
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

ul li {
    padding: 15px;
}

ul li a {
    text-decoration: none;
    color: #b9b9b9;
    font-size: 20px;
}

/* styling af about section */
.about {
    background-color: #E8E8E8;
}

.wrap-around {
    display: flex;
    flex-direction: column;
}


.column img {
    object-fit: contain;
    width: 100%;
    padding: 10px;
}

.textbox {
    margin: 30px 0;
    justify-content: center;
    height: 200px;
    width: 100%;

}


.about img {
    object-fit: contain;
    width: 430px;
    height: 430px;
}

/* styling af billeder */
.container {
    max-width: 1125px;
    margin: 0 auto;
    min-height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* skoleprojekter, side: Projects */
.projekter {
    width: 330px;
    height: 265px;
    margin: -25px;
}


.projekter img {
    position: absolute;
    object-fit: contain;
}


/* personlige projekter, side: Home */
.andet {
    width: 330px;
    height: 300px;
    margin: 10px;
}

.andet img {
    object-fit: contain;
    position: absolute;
}


/* styling af footer */ 
footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 7%;
}

footer p { 
    display: flex;
    justify-content: center;
    
}

/* SoMe ikoner i footer */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 37px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #000000;
    color: white;
    border-radius: 10%;
    margin: 20px;
  }

/* 380px og større 
@media (min-width: 380px) and (max-width: 600px) {
h1 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
} */


/* 600px og større */
@media (min-width: 600px) {

.logo {
    margin: 0;
}

h1 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    width: 300px;
    height: 400px;
    margin: 10px 10px 10px 10px;
}

.gallery {
    display: flex;

}
.projekter {
    display: contents;
    height: auto;

}

.projekter img {
    display: block;
    position: relative;
    align-items: center;
    width: auto;
}

.andet {
    display: contents;
    height: auto;
}

.andet img {
    display: block;
    position: relative;
    align-items: center;
    width: auto;
}


.wrap-around{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

.column img {
    width: 100%;
}

.column .textbox {
    width: 50%;
}

.column {
    float: left;
    display: flex;
}

.column {
    padding: 0 20px;
}

p {
    display: block;
    justify-content: center;
}

footer {
    background-color: rgb(255, 255, 255);
    padding: 2%;

}

}
